
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 2rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
#register-form{
    padding: 12px;
    min-width:250px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}
#register-form .heading{
    margin: 14px 20px;
    text-align: center;
}
#register-form .desc{
    text-align: center;
    color: #888;
}
#register-form .form-group.invalid input{
 border: 1px solid red;
}
#register-form input,
.form-submit{
    display: block;
    width: 100%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #888
}
#register-form .form-mes{
    margin-bottom: 8px;
    display: block;
    color: red;
}
#register-form input:hover{
 border-color: green;
}
.form-submit{
    background-color: rgb(108, 245, 108);
    border: none;
}
.form-submit:hover{
    cursor: pointer;
    opacity: .8;
}
